In [1]:
import pandas as pd

In [2]:
cars = pd.read_csv('Cars.csv')

In [3]:
cars.head()

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

In [4]:
from scipy import stats
1-stats.norm.cdf(38,cars.MPG.mean(),cars.MPG.std())

0.3475939251582705

In [5]:
stats.norm.cdf(40,cars.MPG.mean(),cars.MPG.std())

0.7293498762151616

In [6]:
stats.norm.cdf(50,cars.MPG.mean(),cars.MPG.std())  - stats.norm.cdf(20,cars.MPG.mean(),cars.MPG.std())

0.8988689169682046